<h1>About the Whatever App:<h1>
<p>The Whatever App is the brainchild of Christopher Walsh. He doesn't really know what he's doing, but he's able to do it i such a way that it shows up on the web. Which is something.</p>
